@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

.playfair {
  font-family: "Playfair Display", serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
}

/*NAVBAR INDEX-ABOUT-WORK-CONTACT*/
.navbar {
  background-color: var(--primary-color);
}

/*INDEX PAGE*/
.index-h3 {
  font-size: 36px;
}

.index-h1 {
  font-size: 96px;
}

.body-index {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--primary-color);
}

.button-index {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  font-size: 18px;
  padding: 18px 30px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 50px;
}

/*CONTACT-WORK PAGE*/
.body-h1 {
  font-size: 64px;
  margin-top: 150px;
  margin-bottom: 150px;
}

/*WORK PAGE*/
/*Index-Work*/
.body-h3 {
  font-size: 24px;
}

.body-p {
  font-size: 14px;
}

.work-body {
  margin-bottom: 150px;
}

.work-img {
  border-radius: 20px;
}

/*ABOUT PAGE*/
/*About - Index*/
.body-about {
  margin-top: 150px;
  margin-bottom: 150px;
}

/*Index-About*/
.about-h1 {
  font-size: 64px;
}

.about-h4 {
  font-size: 18px;
}

/*Index-About*/
.about-p {
  font-size: 16px;
  padding-right: 150px;
}

/*FOOTER INDEX-ABOUT-WORK-CONTACT*/
.footer-bg {
  background-color: var(--primary-color);
  border-radius: 20px;
}

.footer-h2 {
  font-size: 48px;
}

.footer-p {
  font-size: 18px;
}

/*Footer - About - Index*/
.button-bg {
  background-color: var(--secondary-color);
  color: white;
  font-size: 18px;
  padding: 18px 30px;
}

.footer-a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}

.footer-icon {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 4px 8px;
}

@media (max-width: 1200px) {
  /*INDEX-ABOUT*/
  .about-h1 {
    font-size: 38px;
  }
  .about-p {
    font-size: 14px;
    padding-right: 10px;
  }

  .button-bg,
  .button-index {
    font-size: 16px;
    padding: 15px 25px;
    margin-top: 0px;
  }
}

@media (max-width: 992px) {
  /*ABOUT*/
  .about-h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  /*INDEX*/
  .about-p {
    display: none;
  }
  .button-index {
    margin-top: 50px;
  }
  .align-index {
    text-align: center;
  }
  /*CONTACT*/
  .button-bg {
    font-size: 16px;
    padding: 15px 20px;
  }
  /*Index-About-Contact*/
  .about-h1,
  .footer-h2 {
    font-size: 30px;
  }
  .about-h4,
  .footer-p {
    font-size: 16px;
  }
  /*Index-About*/
  .index-h1,
  .body-h1 {
    font-size: 54px;
  }

  .footer-a {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  /*INDEX*/
  .img-index {
    display: none;
  }

  /*ABOUT*/
  .body-about {
    text-align: center;
  }
}

@media (max-width: 450px) {
  .logo {
    height: 80%;
    width: 80%;
  }
  /*INDEX-CONTACT*/
  .index-h3,
  .footer-h2 {
    font-size: 28px;
  }

  .footer-p {
    font-size: 14px;
  }

  .index-h1,
  .body-h1 {
    font-size: 34px;
    text-align: center;
  }

  .button-index,
  .button-bg {
    font-size: 14px;
    padding: 12px 18px;
  }

  /*WORK*/
  .body-h3 {
    font-size: 20px;
  }
}

@media (max-width: 300px) {
  /*CONTACT*/
  .footer-h2 {
    font-size: 18px;
  }

  .footer-p {
    font-size: 12px;
  }
  /*Index-Contact*/
  .about-h1,
  .body-h1 {
    font-size: 24px;
    text-align: center;
  }
}
